@import "mixins";
// @include font-face("DIN-Light-Regular", "fonts/DIN-Light-Regular", null, null, "ttf");
// @include font-face("DIN-Bold", "fonts/DIN-Bold", null, null, "otf");
// @include font-face("DIN-Regular", "fonts/DIN-Regular", null, null, "ttf");
//  @font-face {
//   font-family: 'DIN Light';
//   src: url(/neumont/group5/fonts/DIN-Light-Regular.otf) format('otf');
//   font-weight: lighter;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'DIN';
//   src: url(/neumont/group5/fonts/DIN-Bold.otf) format('otf');
//   font-weight: bold;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'DIN';
//   src: url(/neumont/group5/fonts/DIN-Regular.ttf) format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// $font-bold: 'DIN';
// $font-light: 'DIN Light';
// $font-reg: 'DIN';

@font-face {
  font-family: 'D-DIN Bold (OpenType)';
  src: url(/neumont/group5/fonts/d-din-bold-webfont.ttf) format('ttf'), 
  url(/neumont/group5/fonts/d-din-bold-webfont.woff) format('woff'), 
  url(/neumont/group5/fonts/d-din-bold-webfont.woff2) format('woff2');
  //font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'D-DIN Regular (OpenType)';
  src: url(/neumont/group5/fonts/d-din-webfont.ttf) format('ttf'), 
  url(/neumont/group5/fonts/d-din-webfont.woff) format('woff'), 
  url(/neumont/group5/fonts/d-din-webfont.woff2) format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'D-DIN Regular (OpenType)';
  src: url(/neumont/group5/fonts/d-din-webfont.ttf) format('ttf'), 
  url(/neumont/group5/fonts/d-din-webfont.woff) format('woff'), 
  url(/neumont/group5/fonts/d-din-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

$font-bold: 'D-DIN Bold (OpenType)';
$font-light: 'D-DIN Regular (OpenType)';
$font-reg: 'D-DIN Regular (OpenType)';


@mixin font-light($size: 1rem) {
  font: {
    size: $size;
    family: $font-light;
  }
}

@mixin font-bold($size: 1rem) {
  font: {
    size: $size;
    family: $font-bold;
  }
}

@mixin font-reg($size: 1rem) {
  font: {
    size: $size;
    family: $font-reg;
  }
}

//maybe change sizes here
.light-heading {
  @include font-light(2rem);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bold-heading {
  @include font-bold(2rem);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub-heading {
  @include font-reg(1.5rem);
  font-weight: bold;
}

@media all and (max-width:320px) {
  .bold-heading {
    @include font-bold(1.3rem);
    text-transform: uppercase;
  }
}