
@{
    Layout = "~/Views/Shared/_EventCalendarLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoEventsFound</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
